{% extends '@layout/default.html.twig' %}

{% block title %} {{ Title }} {% endblock %}

{% block menu %}
    {% if session %}
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/api/auth/logout"><i class="fa fa-sign-in-alt"></i> Logout </a>
        </div>
    {% else %}
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/api/auth"><i class="fa fa-sign-in-alt"></i> Login</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="Task_Deskription" class="jumbotron">
        <h1>Описание <span class="zf-green">Теста</span></h1>
        <p>
            Реализовать АПИ для приложения “Каталог рецептов”, разрешается использовать мидлвэр (PSR-7) микрофрэймворки, АПИ желательно должно соответствовать РЕСТ стандартам, за исключением некоторых методов которые можно реализовать в виде RPC. АПИ должно давать возможность создать юзера, залогиниться, создавать, редактировать и удалять от лица этого юзера рецепты, так же обязательным полем у рецепта является фотография, следовательно нужно API для загрузки фотографий. Для реализации самого API и сопутствующего ему функционала запрещается использовать библиотеки.
        </p>
        <p class='Padding'> База данных PostgreSql </p>
        <p class='Padding'> Версия PHP > 7 </p>
    </div>
        <p><a class="btn btn-success btn-lg" href="https://github.com/Janik-Tarverdyan/Catalog_Recipes.git" target="_blank">Итоговый вариант API на гитхабе.</a></p>

    <div id="Actions" >
        {% if session %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"> Добавит </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"> Удалить </button>
        {% endif %}

        <!-- Modal create -->
        <div  class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Новый рецепт</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="/api/catalog/create" method="POST" >
                            <div class="form-group">
                                <label for="usr">Имя Рецепта</label>
                                <input name="Name" type="text" class="form-control" id="usr">
                            </div>

                            <div class="form-group">
                                <label for="comment">Описание Рецепта</label>
                                <textarea name="Description" class="form-control" rows="5" id="comment"></textarea>
                            </div>


                            <label for="comment">Иконка Рецепта</label>
                            <div>
                                <label class="file">
                                    <span class="file-custom"></span>
                                    <input name="icon" type="file" id="file1" >
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button name="submit" class="btn btn_submit btn-primary"> Создать </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal delete -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{{ path('api.receipt.delete') }}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новый рецепт</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="usr">Имя Рецепта</label>
                                <input name="Name" type="text" class="form-control" id="usr">
                            </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" style="margin: 0px;" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4">
            <h2>
                <a href="#">
                    <img style="max-height: 50px; max-width: 50px;" src="/uploads/image/{{ receipt_file }}" alt="">   {{ receipt_name }}
                </a>
            </h2>
            <p>{{ receipt_description }}</p>
        </div>
    </div>

    <script>
        $("input[type=file]").change(function(){
            var fieldVal = $(this).val();
            if (fieldVal != undefined || fieldVal != "") {
                $(this).next(".file-custom").attr('data-content', fieldVal);
            }
        });
    </script>


{% endblock %}